<form class="form-signin" action="<%= url("/login") %>" method="post">
    <div class="text-center mb-4">
      <img class="mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
      <p>Log in to your account.</p>
    </div>
  
    <div class="form-label-group">
      <input name="account" type="text" id="inputEmail" class="form-control" placeholder="Email address / Username" required="" autofocus="">
      <label for="inputEmail">User</label>
    </div>
  
    <div class="form-label-group">
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <label for="inputPassword">Password</label>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
  </form>